:root {
    --first-color: "green";
    --second-color: "blue";
    --third-color: "red";
    --fourth-color: "white";
    --fifth-color: "black";
    --artworkTopMargin: 0;
}

@keyframes open-animate {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 0px 0px #656565;
    }

    100% {
        transform: scale(1.05);
        box-shadow: 4px 10px 5px 3px #656565;
    }
}

@keyframes opacity-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.deck {
    height: 250px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px;
    /*background: url("/red-art-1.png");*/
    background-size: 100%;
}

    /*.deck::before {
        content: "";
        background: url("/red-art-1.png");
        background-size: 100%;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }*/

    .deck:hover {
        animation: open-animate 1s both;
    }

.deckContentArea:hover {
    /*background-color: lightgray;*/
    cursor: pointer;
}

.deckTitleArea {
    width: 100%;
    max-height: 80px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onecolor {
    background-color: var(--first-color);
}

.twocolor {
    background: var(--first-color);
    background: linear-gradient(90deg, var(--first-color) 0%, var(--second-color) 100%);
}

.threecolor {
    background: var(--first-color);
    background: linear-gradient(90deg, var(--first-color) 0%, var(--second-color) 50%, var(--third-color) 100%);
}

.fourcolor {
    background: var(--first-color);
    background: linear-gradient(90deg, var(--first-color) 0%, var(--second-color) 33%, var(--third-color) 66%, var(--fourth-color) 100%);
}

.fivecolor {
    background: var(--first-color);
    background: linear-gradient(90deg, var(--first-color) 0%, var(--second-color) 25%, var(--third-color) 50%, var(--fourth-color) 75%, var(--fifth-color) 100%);
}

.deckTitle {
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 10px;
    margin: 0px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.deckContentArea {
    border: 2px solid black;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    position: relative;
    overflow: hidden;
}

.deckColors {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconTextArea {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.icon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.iconTextAreaText {
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    font-weight: bold;
}

.deckText {
    width: 100%;
    padding-left: 10px;
}


.elevated {
    position: relative;
    z-index: 11;
}

#background-img {
    margin-top: calc(var(--artworkTopMargin) * 1%);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 999;
}

#background-img:hover {
    animation: opacity-fade 1s both;
}